body {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

/* styles for header */

a {
  text-decoration: none;
}

.header {
  background-color: #f4f7f9;
  min-height: 320px;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  min-height: 42px;
  margin-bottom: 46px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container {
  display: flex;
}

.logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:focus {
  background-color: #ba2732;
}

.container form {
  width: 270px;
}

.header-top input {
  font: inherit;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.header-top input:hover {
  background-color: #212a3a;
}

.header-top input:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-top input::placeholder {
  color: #ffffff;
}

.bookmarks,
.basket {
  color: #ffffff;
  width: 150px;
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmarks:focus,
.basket:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.order {
  background-color: #63a63e;
  color: #ffffff;
  width: 150px;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-main {
  margin-bottom: 44px;
}

.header-main .container {
  display: flex;
  justify-content: space-between;
}

.description {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin-left: 53px;
  width: 196px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  width: 270px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  width: 270px;
}

.auth-form {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 281px;
}

.auth-form a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.auth-form li {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
}

.auth-form li:last-child {
  margin-left: 10px;
  width: 150px;
}

.auth-form a:hover {
  color: #ee3643;
}

.auth-form a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation li {
  flex-grow: 1;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation ul {
  background-color: #32425c;
  min-height: 60px;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* styles for index.html */

.index-columns {
  min-height: 536px;
}

.index-columns .container {
  display: flex;
  margin-top: 82px;
}

.about-us h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 39px;
}

.about-us {
  display: flex;
  flex-direction: column;
  width: 640px;
}

.about-us p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.about-us p:nth-child(2) {
  width: 519px;
  margin-bottom: 36px;
}

.about-us p:nth-child(3) {
  width: 386px;
  margin-bottom: 27px;
}

.about-us p:nth-child(5) {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
}

.about-us ul {
  list-style: none;
  font-size: 19px;
  line-height: 20px;
  width: 174px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  margin-bottom: 13px;
}

.about-us li {
  margin-bottom: 24px;
}

.about-us-button,
.feedback-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.contacts p:nth-child(2) {
  width: 179px;
  margin-bottom: 36px;
}

.contacts p:nth-child(3) {
  margin-bottom: 40px;
}

.contacts p:nth-child(4) {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
}

.map-pop-up,
.feedback-pop-up,
.basket-pop-up {
  display: none;
}

/* styles for footer */

.footer-top {
  background-color: #32425c;
  min-height: 193px;
}

.footer-top .container {
  display: flex;
}

.left-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  width: 640px;
}

.footer-top a,
.address-footer {
  color: #f1f5f7;
}

.right-wrapper ul {
  list-style: none;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  width: 547px;
  margin-left: 90px;
}

.right-wrapper li {
  margin-right: 60px;
}

.right-wrapper li:last-child {
  margin-right: 0;
}

.right-wrapper .product-list {
  width: 549px;
  margin-top: 45px;
  margin-left: 115px;
}

.address-footer {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.logo-footer {
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  margin-bottom: 32px;
}

.product-list a {
  color: #ffd180;
}

.right-wrapper li:hover {
  text-decoration: underline;
}

.right-wrapper a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.product-list a:focus {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: #293449;
  min-height: 107px;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 228px;
}

.footer-bottom p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.socials {
  list-style: none;
}

.socials a {
  color: #ffffff;
}

.footer-bottom p:nth-child(3) {
  width: 135px;
}

.footer-bottom p:nth-child(4) {
  width: 96px;
}

.developer-company a {
  color: #ffd180;
}

.developer-company a:hover {
  text-decoration: underline;
}

.developer-company a:focus {
  color: #ee3643;
}

/* styles for catalog.html */

/* styles for header in catalog.html */

.login-menu {
  display: flex;
  flex-wrap: wrap;
  width: 299px;
}

.login {
  list-style: none;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu {
  list-style: none;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.user-menu li:first-child {
  margin-right: 32px;
}

.user-menu a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:focus {
  color: rgba(50, 66, 92, 0.3);
}

/* styles for main content in catalog */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.title {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  min-height: 89px;
}

.catalog-columns {
  display: flex;
}

.filter {
  width: 220px;
}

.filter form {
  width: 220px;
}

.filter fieldset {
  border: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0em;
  padding-inline-end: 0em;

}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 00px;
}

.filter-input:disabled+label {
  color: rgba(0, 0, 0, 0.4);
}

.show-products {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
}

.catalog {
  width: 700px;
  margin-left: auto;
}

.catalog-list {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  background-color: #ffffff;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-title {
  color: #000000;
}

.catalog-item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.catalog-item-price span:last-child {
  background-color: #ee3643;
  ;
}

.line-through {
  text-decoration: line-through;
  color: #999999;
  background-color: none;
}

.buy {
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  color: #ffffff;
}

.in-bookmarks {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
