body {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

/* styles for header */
a {
  text-decoration: none;
}

.header {
  background-color: #f4f7f9;
  min-height: 320px;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  min-height: 42px;
  margin-bottom: 46px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-top a {
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle;
}

.logo {
  position: absolute;
  width: 220px;
  height: 23px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:focus {
  background-color: #ba2732;
}

.search-form {
  position: relative;
  margin-left: 220px;
}

.search-form input {
  width: 270px;
  height: 42px;
  padding-left: 50px;
  font: inherit;
  background-color: #293449;
  border: 0;
}

.header-top input:-ms-input-placeholder {
  color: #ffffff;
}

.header-top input::-webkit-input-placeholder {
  opacity: 1;
}

.header-top input::placeholder {
  color: #ffffff;
}

.label-search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
  cursor: text;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-form input:hover+svg {
  opacity: 1;
}

.search-form input:focus+svg path {
  fill: #ee3643;
}

.bookmarks,
.basket {
  color: #ffffff;
  width: 150px;
  box-sizing: border-box;
  position: relative;
  padding-left: 45px;
}

.basket {
  padding-left: 50px;
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmarks:focus,
.basket:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13px;
  left: 17px;
  opacity: 0.3;
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13px;
  left: 18px;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmarks:focus::before,
.basket:focus::before {
  opacity: 0.5;
}

.basket-active {
  background-color: #ee3643;
}

.order {
  background-color: #63a63e;
  color: #ffffff;
  width: 150px;
  text-align: center;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-main {
  margin-bottom: 38px;
}

.header-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.description {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  box-sizing: border-box;
  margin: 0;
  margin-left: 53px;
  width: 205px;
  padding-top: 5px;
}

.description-catalog {
  margin-right: 18px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  width: 270px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.address a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  width: 151px;
  position: relative;
  text-align: center;
  border: 3px solid white;
  padding: 10px 48px 8px 65px;
  margin-bottom: 5px;
}

.address a::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 10px;
  left: 10px;
  opacity: 1;
}

.auth-form {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 281px;
  min-width: 45px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.auth-form a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  display: block;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  padding: 14px 25px 11px 24px;
}

.auth-form .enter {
  padding: 14px 27px 11px 48px;
  margin-right: 10px;
}

.enter svg {
  position: absolute;
  right: 88px;
  bottom: 15px;
}

.enter:hover path {
  fill: #293449;
}

.enter:focus path {
  fill: #c5c5c5;
}

.auth-form a:hover {
  color: #ee3643;
}

.auth-form a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation a {
  color: #ffffff;
  display: block;
  padding: 21px 30px 22px 30px;
  text-align: center;
}

.main-navigation .nav-first {
  padding-left: 52px;
}

.main-navigation .nav-last {
  padding-right: 52px;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation ul {
  list-style: none;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
  box-shadow: inset 0px -5px 0 0 #293449;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

/* styles for index.html */
/* styles for menu  */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffffff;
}

.menu-left-wrap,
.menu-right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-left-wrap {
  width: 620px;
}

.menu-right-wrap {
  width: 300px;
}

.menu-item {
  padding: 21px 24px 20px;
  width: 300px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
}

.menu-item {
  margin-bottom: 20px;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.menu-item.stuff {
  background-color: #ffbf47;
  position: relative;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 215px 30px;
}

.menu-item.tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 200px 30px;
}

.menu-item.equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 193px 30px;
}

.menu-item.discount {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 197px 30px;
}

.menu-item.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 193px 30px;
}

.menu-item h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 30px;
}

.menu-item .button-menu {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0px;
  box-sizing: border-box;
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.menu-item .button-menu:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-item .button-menu:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-slider {
  position: relative;
}

.left-arrow {
  border: none;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icon-left.svg");
  top: 115px;
  left: 25px;
  z-index: 30;
}

.right-arrow {
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icon-right.svg");
  position: absolute;
  top: 115px;
  right: 20px;
  z-index: 30;
}

.slide {
  box-sizing: border-box;
  padding: 22px 25px;
  width: 620px;
  font-size: 18px;
  line-height: 24px;
  background-color: black;
}

.menu-slider .first-slide {
  background-image: url("../img/slider-image.jpg");
}

.menu-slider .second-slide {
  background-image: url("../img/slide-image.jpg");
}

.menu-slider h2 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.menu-slider p {
  margin: 0;
}

.menu-slider .slider-button {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0px;
  box-sizing: border-box;
  width: 195px;
  background-color: #ee3643;
  border-radius: 3px;
  margin-top: 122px;
}

.menu-slider .slider-button:hover {
  background-color: #ca2c37;
}

.menu-slider .slider-button:focus {
  background-color: #ba2732;
}

.menu-slider .second-slide {
  display: none;
}

.indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 160px;
  height: 16px;
  background-color: transparent;
  position: absolute;
  bottom: 30px;
  left: 230px;
}

.indicator-btn {
  display: block;
  box-sizing: content-box;
  margin: 0 5px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.indicator-btn.active {
  background-color: #ee3643;
}

.menu-item .flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.menu-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

/* styles for popular products */
.popular-items {
  padding: 0;
  margin: 0px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popular-items .catalog-item {
  margin-right: 0;
}

.popular-wrap,
.manufacturers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 89px;
  background-color: #f9f5f0;
  margin-top: 53px;
}

.popular-wrap h2,
.manufacturers-wrap h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
  vertical-align: middle;
  padding: 7px 0px 0px 30px;
}

.popular-wrap a,
.manufacturers-wrap a {
  line-height: 18px;
  height: 26px;
  width: 253px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #ee3643;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0px 2px 0px;
  margin-left: 372px;
  margin-top: 26px;
}

/* styles for popular manufacturers */
.manufacturers-wrap {
  margin-top: 0px;
}

.manufacturers-wrap a {
  margin-left: 268px;
}

.manufacturers-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.manufacturers-list a {
  width: 218px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  position: relative;
  display: block;
}

.manufacturers-list img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.last-img img {
  top: 46%
}

.manufacturers-list a:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-list a:focus {
  opacity: 30%;
}

/* styles for servise slider */
.service-slider {
  min-height: 522px;
  margin-top: 65px;
  background-color: #f4f7f9;
  padding-right: 0;
}

.slider-title {
  padding-top: 64px;
}

.slider-title h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 28px;
}

.slider-title p {
  font-family: "PT-sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 425px;
  margin: 0;
}

.switch {
  padding: 50px 0px;
  position: relative;
}

.switch::after {
  content: "";
  width: 10px;
  height: 279px;
  position: absolute;
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0px;
  right: 0px;
}

.switch button {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  height: 61px;
  color: white;
  background-color: #32425c;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  padding: 0;
  padding-bottom: 6px;
  padding-left: 22px;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.switch button:hover {
  background-color: #293449;
}

.switch button:active,
.switch .switch-active,
.switch .switch-active:hover {
  background-color: white;
  color: #32425c;
  border: none;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.delivery-slide,
.guarantee-slide,
.credit-slide {
  margin-left: 80px;
  padding: 46px 0;
}

.delivery-slide h2,
.guarantee-slide h2,
.credit-slide h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  color: #32425c;
  padding-bottom: 23px;
}

.delivery-slide p,
.guarantee-slide p,
.credit-slide p {
  font-family: "PT-sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 297px;
  margin: 0;
}

.guarantee-slide p {
  width: 401px;
}

.credit-slide p {
  width: 300px;
  margin-bottom: 35px;
}

.credit-btn {
  width: 195px;
  background-color: #ff5357;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 11px 45px;
  border-radius: 4px;
}

.delivery-slide {
  width: 100%;
  min-height: 235px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  /* display: none; */
}

.guarantee-slide {
  width: 100%;
  min-height: 235px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: none;
}

.credit-slide {
  width: 100%;
  min-height: 235px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: none;
}

.index-columns {
  min-height: 455px;
}

.index-columns .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 82px;
}

.about-us h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 640px;
}

.about-us p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.about-us p:nth-child(2) {
  width: 519px;
  margin-bottom: 24px;
}

.about-us p:nth-child(3) {
  width: 390px;
  margin-bottom: 20px;
}

.about-us p:nth-child(5) {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
}

.about-us ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  width: 174px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  position: relative;
}

.about-us li {
  margin-bottom: 20px;
  margin-left: 35px;
}

.about-us li:nth-child(2) {
  margin-bottom: 20px;
}

.about-us li::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  position: absolute;
  top: 10px;
  left: 0px;
}

.about-us li:nth-child(2)::before {
  top: 50px;
  left: 0px;
}

.about-us li:nth-child(3)::before {
  top: 88px;
  left: 0px;
}

.about-us-button,
.feedback-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  display: block;
  padding: 12px 0px 10px 0px;
  text-align: center;
  border-radius: 2px;
}

.contacts p:nth-child(2) {
  width: 180px;
  margin-bottom: 31px;
}

.contacts p:nth-child(3) {
  margin-bottom: 32px;
}

.contacts p:nth-child(4) {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
}

/* styles for footer */
.footer-top {
  background-color: #32425c;
  min-height: 193px;
}

.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-wrapper {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 610px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer-top a,
.address-footer {
  color: #f1f5f7;
}

.right-wrapper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 549px;
  margin-left: 62px;
  padding-top: 40px;
}

.right-wrapper li {
  margin-right: 60px;
}

.right-wrapper li:last-child {
  margin-right: 0;
}

.right-wrapper .product-list {
  width: 530px;
  padding-top: 33px;
  margin-left: 85px;
}

.address-footer {
  margin: 0;
  padding-left: 2px;
}

.logo-footer {
  position: relative;
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  margin-bottom: 30px;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-footer img {
  width: 138px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-list a {
  color: #ffd180;
}

.right-wrapper a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.product-list a:hover {
  text-decoration: underline;
  text-decoration-color: #ffd180;
}

.right-wrapper a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.product-list a:focus {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: #293449;
  min-height: 73px;
  padding-top: 35px;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 238px;
  margin: 0;
}

.footer-bottom p {
  padding-top: 3px;
}

.footer-bottom p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 138px;
  margin: 0px 0px 0px 158px;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-bottom p:nth-child(3) {
  width: 140px;
  margin: 0;
  margin-left: 116px;
}

.footer-bottom p:nth-child(4) {
  width: 96px;
  margin: 0;
  margin-left: 52px;
  margin-right: 18px;
}

.developer-company a {
  color: #ffd180;
}

.developer-company a:hover {
  text-decoration: underline;
}

.developer-company a:focus {
  color: #ee3643;
}

/* styles for catalog.html */
/* styles for header in catalog.html */
.login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 299px;
}

.login {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 299px;
}

.login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 34px;
  padding-top: 12px;
  display: block;
  position: relative;
  text-align: center;
  width: 212px;
  min-height: 33px;
}

.login svg {
  width: 30px;
  min-height: 14px;
  position: absolute;
  right: 208px;
  top: 15px;
}

.login-link:hover path,
.logout:hover path {
  fill: #293449;
}

.login-link:focus path,
.logout:focus path {
  fill: #c5c5c5;
}

.login-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.login .logout {
  display: block;
  padding: 0px;
  width: 52px;
  height: 45px;
}

.logout svg {
  width: 20px;
  height: 17px;
  position: absolute;
  left: 23px;
  top: 15px;
}

.user-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 15px;
}

.user-menu::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 93px;
}

.user-menu li:first-child {
  margin-right: 32px;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:focus {
  color: rgba(50, 66, 92, 0.3);
}

/* styles for main content in catalog */
.breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0px 20px 0px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs li::after {
  position: absolute;
  top: 3px;
  right: -23px;
  z-index: 1;
  width: 10px;
  height: 10px;
  border-radius: 50px 0 0 0;
  -webkit-box-shadow: 1px 1px 0 1px #dddddd;
  box-shadow: 1px 1px 0 1px #dddddd;
  content: "";
  transform: rotate(-45deg) scale(0.73);
  background-color: white;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a,
.breadcrumbs li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.title {
  box-sizing: border-box;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  padding: 30px 0 31px 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  min-height: 89px;
  margin: 0em;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* styles for section filter */
.filter-view {
  margin-top: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px 0px 11px 20px;
  background-color: #f7f3ec;
  border-radius: 4px;
}

.price-scale {
  margin-bottom: 42px;
}

.price-scale h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.price-filter {
  margin: 0 auto;
}

.price-filter-container {
  margin-bottom: 10px;
  padding: 41px 21px 37px 21px;
  border-radius: 3px;
  background-color: #f7f3ec
}

.filter-range {
  position: relative;
}

.range-scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-scale-selected {
  height: 2px;
  width: 78%;
  background-color: #00ca74;
}

.range-circle {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  box-sizing: content-box;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #b7b7b7;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
}

.range-circle.min {
  left: 0;
}

.range-circle.max {
  left: 78%;
}

.filter-interval {
  position: relative;
}

.filter-interval input:last-child {
  margin-left: 29px;
}

.filter-interval::after {
  content: "";
  width: 9px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 18px;
  right: 105px;
}

.filter-interval input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 93px;
  height: 38px;
  border-radius: 4px;
  border: none;
  color: inherit;
  text-align: center;
  background-color: #f7f3ec;
  box-sizing: border-box;
  padding-left: 8px;
}

.filter form {
  width: 220px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}

.filter legend::before {
  content: "";
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  top: -18px;
  left: 0px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on-black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.filter ul {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.filter-input:disabled+label {
  color: rgba(0, 0, 0, 0.3);
}

.filter-input:disabled+label::before {
  opacity: 0.1;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:checked:hover+label::before,
.filter-input-radio:hover+label::before,
.filter-input-radio:checked:hover+label::before {
  opacity: 0.4;
}

.show-products {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 9px 39px;
  margin-top: 38px;
  cursor: pointer;
}

/* styles for section catalog */
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f3ec;
  border-radius: 4px;
  min-height: 38px;
  margin: 20px 0px 10px 20px;
}

.sort span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px 0px 5px 20px;
}

.sort-items {
  width: 495px;
  box-sizing: border-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  padding-left: 140px;
}

.sort-items a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.18);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
  display: block;
  padding-top: 7px;
}

.sort-items a:hover {
  color: black;
  border-bottom: 1px solid #ee3643;
}

.sort-items .active {
  color: #ee3643;
  border-bottom: none;
}

.sort-triangle-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 7px 0px 0px 45px;
  width: 45px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-triangle-up path,
.sort-triangle-down path {
  fill: #c5c5c5;
}

.sort-triangle-up path:hover,
.sort-triangle-down path:hover {
  fill: black;
}

.active-triangle path {
  fill: #ee3643;
}

.catalog-list {
  padding-left: 20px;
  padding-top: 10px;
  margin: 0px;
  margin-bottom: 40px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  vertical-align: top;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .catalog-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.catalog-item-title a {
  color: #000000;
  font-size: 18px;
}

.catalog-item .discount {
  min-height: 12px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .catalog-item-price {
  position: relative;
  width: 80px;
  margin: 5px auto;
  margin-bottom: 20px;
  margin-left: 42px;
  margin-top: 38px;
  padding: 9px 31px 11px 28px;
  font-size: 17px;
  line-height: 18px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .catalog-item-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.discount~.catalog-item-price {
  margin-top: 5px;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.actions .buy,
.actions .in-bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.actions .in-bookmarks {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.actions .buy:focus {
  background-color: #518534;
  border-color: #518534;
  ;
}

.actions .buy::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 7px;
  left: 9px;
  opacity: 0.3;
}

.actions .buy:hover::before,
.actions .buy:focus::before {
  opacity: 1;
}

.actions .in-bookmarks:hover {
  border-color: #32425c;
}

.actions .in-bookmarks:focus {
  opacity: 30%;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 67px;
  margin-left: 20px;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 10px 14px 10px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:focus {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-item:last-child a {
  padding: 10px 31px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-drill {
  background-color: #f4f7f9;
  min-height: 261px;
}

.about-drill h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 26px;
  padding-top: 66px;
}

.about-drill p {
  font-family: "PT-sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

/* styles for pop-up */

.map-pop-up {
  width: 940px;
  height: 446px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  -webkit-box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.5);
  /* display: none; */
}

.close-map {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}

.feedback-pop-up {
  width: 620px;
  height: 426px;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  /* display: none; */
}

.feedback-pop-up .name-email {
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 134px;
  width: 460px;
  margin: 0 auto;
}

.name-email label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 48px 0px 22px 0px;
}

.name-email label:last-child {
  margin-left: 21px;
}

.name-email input {
  width: 100%;
  padding: 8px 39px 8px 13px;
  margin-top: 10px;
  color: #a9a9a9;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
  border-radius: 4px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 460px;
  margin: 0 auto;
}

.message label {
  margin-bottom: 9px;
  line-height: 18px;
}

.message textarea {
  height: 114px;
  color: #a9a9a9;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  padding: 8px 0px 0px 13px;
}

.feedback-action {
  height: 112px;
  background-color: #f1f1f1;
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feedback-action button {
  width: 460px;
  padding: 11px 0px 9px 0px;
  background-color: #ee3643;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border:none;
  border-radius: 4px;
}

.close-feedback {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}

.basket-pop-up {
  width: 620px;
  height: 276px;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  /* display: none; */
}

.basket-pop-up h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
  position: relative;
  margin: 66px 0px 0 179px;
}

.basket-pop-up h2::before {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -19px;
  left: -100px;
}

.close-basket {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}

.pop-up-action {
  height: 112px;
  background-color: #f1f1f1;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.pop-up-action a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  padding-top: 12px;
  text-align: center;
  margin: 35px 0px;
  width: 220px;
  height: 26px;
  border-radius: 2px;
}

.pop-up-action a:first-child {
  margin-left: 70px;
}

.pop-up-action a:last-child {
  margin-right: 70px;
  background-color: white;
  color: black;
}
